<div class="contactCmp-area">
	<div class="contactCmp-main">
		<img ng-if="$ctrl.item.avatar" class="contactCmp-avatar" width="48" height="48" src="{{$ctrl.item.avatar}}" />
		
		<div class="contactCmp-presence contactCmp-presence-{{$ctrl.item.status}}"></div>	
		<div class="contactCmp-details">
			<div class="contactCmp-name">{{$ctrl.item.fullname}}</div>
			<div class="contactCmp-data">{{$ctrl.item.status}}</div>
		</div>
		<div class="contactCmp-buttons">
			<button
				class="contactCmp-IM-btn"
				ng-if="!$ctrl.item.conversationId && !isConnectedUser"
				ng-disabled="isConnected"
				ng-click="createConversation()">Open
			</button>
			<button
				class="contactCmp-IM-btn"
				ng-if="$ctrl.item.conversationId && !isConnectedUser"
				ng-disabled="isConnected"
				ng-click="closeConversation()">Close
			</button>
		</div>
	</div>	
</div>
