div.controllerCmp-area {
    position: relative;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    background: #fff;
    height: 100%;
}

div.controllerCmp-border {
    width: 100%;
    height: 100%;
}

div.controllerCmp-header {
    height: 64px;
    display: flex;
    border-bottom: 1px solid #32799f;
}

div.controllerCmp-title {
    width: 100%;
    text-align: center;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    background: #9e9e9e;
    font-weight: 700;
    color: #eee;
}

.controllerCmp-webrtc-video {
   position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.controllerCmp-webrtc-bar {
    text-align: center;
    position: absolute;
    z-index: 3;
    bottom: 10px;
    width: 100%;
}

.controllerCmp-webrtc-topbar {
    text-align: right;
    position: absolute;
    z-index: 3;
    top: 12px;
    right: 8px;
}

.controllerCmp-webrtc-area {
    height: 100%;
    width: 100%;
}

.controllerCmp-btn {
    cursor: pointer;
    width: 44px;
    margin: 0 6px;
}

.controllerCmp-btn-topbar {
    cursor: pointer;
    width: 44px;
    margin: 0 6px 0 0;
    height: 44px;
    border-radius: 22px;
    background-color: #0085ca;
    color: #fff;
    border: 1px solid #ddd;;
}

.controllerCmp-btn-topbar-icon {
    font-size: 20px;
    font-weight: 500;
}

#largevideo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}

#minivideo {
    position: relative;
    width: auto;
    height: 12%;
    transform: scale(-1, 1);
    z-index: 2;
    margin-left: calc(25% + 12px);
    top: calc(25% + 12px);
    border-radius: 3px;
}

div.controllerCmp-deviceChecker {
    position: relative;
    width: 200px;
    text-align: center;
    height: 100px;
    background-color: #9e9e9e;
    margin: 50px auto;
    padding: 12px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
}

div.controllerCmp-deviceTitle {
    font-weight: bold;
    font-size: 14px;
}

div.controllerCmp-deviceSubtitle {
    margin-top: 16px;
}

.controllerCmp-info {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.controllerCmp-buttons-area {
    background-color: #000;
    width: 178px;
    height: 44px;
    margin: 0 auto;
    padding: 8px 6px;
    border-radius: 25px;
}


