<div class="presenceCmp-area">
	<div class="presenceCmp-title">Presence</div>
	<form id="form" name="form" autocomplete="off" novalidate class="presenceCmp-form">
		<button 
			class="presenceCmp-btn presenceCmp-onlinebtn"
			ng-disabled="!isConnected" 
			ng-click="online()">Online
		</button>

		<button 
			class="presenceCmp-btn presenceCmp-dndbtn"
			ng-disabled="!isConnected"
			ng-click="dnd()">Do Not Disturb
		</button>

		<button 
			class="presenceCmp-awaybtn presenceCmp-btn"
			ng-disabled="!isConnected"
			ng-click="away()">Away
		</button>
	</form>
	<div class="presenceCmp-state-result">
		<div class="presenceCmp-state">State: <b class="presenceCmp-state-value">{{presence}}</b></div>
		<img style="margin-bottom:3px" src="./res/progress.gif" ng-if="$ctrl.isLoading"/> 
	</div>
</div>